# Web3Auth Client ID — this is a demo Sapphire Devnet project configured for Solana, get your own at https://dashboard.web3auth.io
VUE_APP_WEB3AUTH_CLIENT_ID=BFcLTVqWlTSpBBaELDPSz4_LFgG8Nf8hEltPlf3QeUG_88GDrQSw82fSjjYj5x4F3ys3ghMq8-InU7Azx7NbFSs
