# Web3Auth Client ID for the smart account demo project — get your own at https://dashboard.web3auth.io
VITE_WEB3AUTH_CLIENT_ID=BJFT2n2Nc-2HY9yJCacDygMvuJQc8do8bF7GMWig2KiZgJJ5ks-Hiw_JvcJvqiJ5yYTkRptfwoeQFkqJZAG65do
